{% extends 'base.html' %}

{% block title %} Загрузка данных {% endblock %}

{% block main_theme %} Загрузка обучающих данных и целевой переменной {% endblock %}

{% block body %}
    {% if ok_data == 0 %}
        <font color="red">
            <p>В ходе обучения произошла ошибка: были загружены данные недопустимого формата.
            Пожалуйста, загрузите другие данные.</p>
            <p>Признаки в обучающей выборке должны быть только вещественными, а целевая переменная должна
                соответствовать обучающей выборке по размерам. Формат данных - ".csv".</p>
        </font>
    {% endif %}
    <form action="" method=post enctype=multipart/form-data>
        <h5>Выберите алгоритм</h5>
        <p><select size="2" name=model>
            <option selected value="Gradient Boosting">Gradient Boosting Regressor</option>
            <option value="Random Forest">Random Forest Regressor</option>
        </select></p>

        <h5>Укажите обучающие данные</h5>
        <p><input type=file name=train>

        <h5>Укажите целевую переменную</h5>
        <p><input type=file name=target>
        <p><input class="btn btn-success" type=submit value="Загрузить все данные">
    </form>
{% endblock %}
